<!DOCTYPE html>
<html>
  <head>
    <title>GroceryList</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <!-- <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Grocery List</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if logged_in? %>
            <li><%= link_to current_user.username, user_path(current_user) %></li>
            <li><%= link_to "Test Recipes", test_recipes_path %></li>
            <li><%= link_to "Shopping Lists", user_shopping_lists_path(current_user)%></li>
            <li><%= link_to "Ingredients", ingredients_path %></li>
            <li><%= link_to "Log Out", session_path(current_user), method: :delete %></li>
          <% else %>
            <li><%= link_to "Log In", new_session_path%></li>
            <li><%= link_to "Sign Up", new_user_path %></li>
          <% end %>
        </ul>
      </div>
    </nav> -->
    <!-- bar. -->


  <nav>
    <div class="nav-wrapper #263238 blue-grey darken-4">
      <div id="move-logo">
        <a href="/" class="brand-logo our-logo">ListGrocer</a>
      </div>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <% if logged_in?%>
        <li><%= link_to current_user.username, user_path(current_user) %></li>
        <li><%= link_to "Test Recipes", test_recipes_path %></li>
        <li><%= link_to "Shopping Lists", user_shopping_lists_path(current_user)%></li>
        <li><%= link_to "Ingredients", ingredients_path %></li>
        <li><%= link_to "Log Out", session_path(current_user), method: :delete %></li>
      </ul>
      <% else %>
        <ul class="right hide-on-med-and-down main-nav-bar-list">
          <li><%= link_to "Log In", new_session_path%></li>
          <li><%= link_to "Sign Up", new_user_path %></li>
        </ul>
      <% end %>

      <ul class="side-nav main-nav-bar-list" id="mobile-demo">
        <% if logged_in? %>
          <li><%= link_to current_user.username, user_path(current_user) %></li>
          <li><%= link_to "Test Recipes", test_recipes_path %></li>
          <li><%= link_to "Shopping Lists", user_shopping_lists_path(current_user)%></li>
          <li><%= link_to "Ingredients", ingredients_path %></li>
          <li><%= link_to "Log Out", session_path(current_user), method: :delete %></li>
          <li><div class="divider"></div></li>
        <% else %>
          <li><%= link_to "Log In", new_session_path%></li>
          <li><%= link_to "Sign Up", new_user_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>

    <%= yield %>
  </body>
</html>
